@model HR.Web.ViewModels.AddressVm

<div class="panel panel-default panel-hovered panel-stacked mb10">
    <div class="panel-heading">Address</div>
    <div class="panel-body">
        <div class="row css5">
            <div class="form-group">
                <label class="col-md-2 control-label">
                    <span class="pull-right">อาคาร</span>
                </label>
                <div class="col-md-4">
                    @Html.TextAreaFor(x => x.Address1, new { @class = "form-control input-sm",@maxlength="200" })
                </div>
                <label class="col-md-2 control-label">
                    <span class="pull-right">
                        ห้องเลขที่
                    </span>
                </label>
                <div class="col-md-4">
                    @Html.TextAreaFor(x => x.Address2, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>

        <div class="row css5">
            <div class="form-group">
                <label class="col-md-2 control-label">
                    <span class="pull-right">
                        ชั้นที่
                    </span>
                </label>
                <div class="col-md-4">
                    @Html.TextAreaFor(x => x.Address3, new { @class = "form-control input-sm", @maxlength = "200" })
                </div>
                <label class="col-md-2 control-label">
                    <span class="pull-right">หมู่บ้าน</span>
                </label>
                <div class="col-md-4">
                    @Html.TextAreaFor(x => x.Address4, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>

        <div class="row css5">
            <div class="form-group">
                <label class="col-md-2 control-label">
                    <span class="pull-right">เลขที่</span>
                </label>
                <div class="col-md-4">
                    @Html.TextAreaFor(x => x.Address5, new { @class = "form-control input-sm", @maxlength = "200" })
                </div>
                <label class="col-md-2 control-label">
                    <span class="pull-right">
                        หมู่ที่
                    </span>
                </label>
                <div class="col-md-4">
                    @Html.TextAreaFor(x => x.Address6, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>

        <div class="row css5">
            <div class="form-group">
                <label class="col-md-2 control-label">
                    <span class="pull-right">
                        ตรอก/ซอย
                    </span>
                </label>
                <div class="col-md-4">
                    @Html.TextAreaFor(x => x.Address7, new { @class = "form-control input-sm", @maxlength = "200" })
                </div>
                <label class="col-md-2 control-label">
                    <span class="pull-right">แยก</span>
                </label>
                <div class="col-md-4">
                    @Html.TextAreaFor(x => x.Address8, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>


        <div class="row css5">
            <div class="form-group">
                <label class="col-md-2 control-label">
                    <span class="pull-right">ถนน</span>
                </label>
                <div class="col-md-4">
                    @Html.TextAreaFor(x => x.Address9, new { @class = "form-control input-sm", @maxlength = "200" })
                </div>
                <label class="col-md-2 control-label">
                    <span class="pull-right">
                        ตำบล/แขวง
                    </span>
                </label>
                <div class="col-md-4">
                    @Html.TextAreaFor(x => x.Address10, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>


        <div class="row css5">
            <div class="form-group">
                <label class="col-md-2 control-label">
                    <span class="pull-right">
                        อำเภอ/เขต
                    </span>
                </label>
                <div class="col-md-4">
                    @Html.TextAreaFor(x => x.Address11, new { @class = "form-control input-sm", @maxlength = "200" })
                </div>
                <label class="col-md-2 control-label">
                    <span class="pull-right">จังหวัด</span>
                </label>
                <div class="col-md-4">
                    @Html.TextAreaFor(x => x.Address12, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>

        <div class="row css5">
            <div class="form-group">
                <label class="col-md-2 control-label">
                    <span class="pull-right">Address13</span>
                </label>
                <div class="col-md-4">
                    @Html.TextAreaFor(x => x.Address13, new { @class = "form-control input-sm", @maxlength = "200" })
                </div>
                <label class="col-md-2 control-label">
                    <span class="pull-right">City Name</span>
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.CityName, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>

        <div class="row css5">
            <div class="form-group">
                <label class="col-md-2 control-label">
                    <span class="pull-right">State Name</span>
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.StateName, new { @class = "form-control input-sm" })
                </div>
                <label class="col-md-2 control-label">
                    <span class="pull-right">Country Code</span>
                </label>
                <div class="col-md-4">
                    @Html.DropDownListFor(x => x.CountryCode, SelectListItemHelper.CountryList(),
                                   "--Select--", new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>

        <div class="row css5">
            <div class="form-group">
                <label class="col-md-2 control-label">
                    <span class="pull-right">รหัสไปรษณีย์</span>
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.ZipCode, new { @class = "form-control  input-sm" })
                </div>
                <label class="col-md-2 control-label">
                    <span class="pull-right">Tel No</span>
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.TelNo, new { @class = "form-control  input-sm" })
                </div>
            </div>
        </div>

        <div class="row css5">
            <div class="form-group">
               
                <label class="col-md-2 control-label">
                    <span class="pull-right">Fax No</span>
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.FaxNo, new { @class = "form-control  input-sm" })
                </div>
                <label class="col-md-2 control-label">
                    <span class="pull-right">Mobile No</span>
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.MobileNo, new { @class = "form-control  input-sm" })
                </div>
            </div>
        </div>
        <div class="row css5">
            <div class="form-group">
                <label class="col-md-2 control-label">
                    <span class="pull-right">Contact</span>
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.Contact, new { @class = "form-control  input-sm" })
                </div>
                <label class="col-md-2 control-label">
                    <span class="pull-right">Email</span>
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>

        <div class="row css5">
            <div class="form-group">
                <label class="col-md-2 control-label">
                    <span class="pull-right">WebSite</span>
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.WebSite, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>


    </div>

</div>
